body {
    background-color: grey;
}

h1 {
    font-size: 50pt;
}

h5 {
    font-size: 25pt;
}

h6 {
    font-size: 35pt;
}

h1, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    line-height: 1;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#todays_date {
    text-align: right;
    color: white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}