body {
    background-color: grey;
}

h1, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    line-height: 1px;
    font-size: 18pt;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#todays_date {
    
    text-align: right;
    color: white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0px;
}

#screen_size, #width, #height {
    text-align: center;
    color: white;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
}

#last_modified {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18pt;
    font-weight: bold;
}

#analyze_strings {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18pt;
}

#rounding_num {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18pt;
}

@media (max-width: 1000px) {
    h1, h6, h5 {
        font-size: 12pt;
    }
}